* {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}
    
body {
    background-image: linear-gradient(to right, yellow , red);
}

#goodluck {
    width: 150px;
    height: 150px;
}


    




    
